
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorizationResponse</title>
</head>
<body>
    <script type="text/javascript" language="javascript">

		var hashes = window.location.hash;

        hashes = hashes.replace('#', '?');

        if(hashes !== ""){
        	window.location = hashes;
        }

    </script>
    <div>
    </div>
</body>
</html>
